:root {
  --dark-amber-1: #16120c;
  --dark-amber-2: #1c1812;
  --dark-amber-3: #302008;
  --dark-amber-4: #3e2700;
  --dark-amber-5: #4c3000;
  --dark-amber-6: #5b3d06;
  --dark-amber-7: #704f1a;
  --dark-amber-8: #8f6424;
  --dark-amber-9: #ffc53d;
  --dark-amber-10: #ffd60a;
  --dark-amber-11: #ffca16;
  --dark-amber-12: #ffe7b3;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --dark-amber-1: color(display-p3 0.082 0.0702 0.0501);
      --dark-amber-2: color(display-p3 0.1056 0.0941 0.0745);
      --dark-amber-3: color(display-p3 0.1777 0.1279 0.0493);
      --dark-amber-4: color(display-p3 0.2356 0.1567 0);
      --dark-amber-5: color(display-p3 0.2866 0.1935 0);
      --dark-amber-6: color(display-p3 0.3409 0.2458 0.0767);
      --dark-amber-7: color(display-p3 0.4202 0.3146 0.1417);
      --dark-amber-8: color(display-p3 0.5349 0.399 0.1888);
      --dark-amber-9: color(display-p3 1 0.77 0.26);
      --dark-amber-10: color(display-p3 1 0.87 0.15);
      --dark-amber-11: color(display-p3 1 0.8 0.29);
      --dark-amber-12: color(display-p3 0.9842 0.9092 0.7256);
    }
  }
}