:root {
  --dark-amber-a1: #e63c0006;
  --dark-amber-a2: #fba6270c;
  --dark-amber-a3: #fa820022;
  --dark-amber-a4: #fc840031;
  --dark-amber-a5: #fd8d0040;
  --dark-amber-a6: #fd9d0050;
  --dark-amber-a7: #ffac2866;
  --dark-amber-a8: #ffae3587;
  --dark-amber-a9: #ffc53d;
  --dark-amber-a10: #ffd60a;
  --dark-amber-a11: #ffca16;
  --dark-amber-a12: #ffe7b3;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --dark-amber-a1: color(display-p3 0.9922 0.298 0 / 0.017);
      --dark-amber-a2: color(display-p3 0.9804 0.7059 0.251 / 0.043);
      --dark-amber-a3: color(display-p3 1 0.6 0 / 0.118);
      --dark-amber-a4: color(display-p3 1 0.5686 0 / 0.181);
      --dark-amber-a5: color(display-p3 1 0.6 0 / 0.236);
      --dark-amber-a6: color(display-p3 1 0.6784 0.1098 / 0.295);
      --dark-amber-a7: color(display-p3 0.9961 0.7176 0.2627 / 0.379);
      --dark-amber-a8: color(display-p3 0.9961 0.7294 0.3059 / 0.5);
      --dark-amber-a9: color(display-p3 1 0.7686 0.2588);
      --dark-amber-a10: color(display-p3 1 0.8706 0.149);
      --dark-amber-a11: color(display-p3 1 0.8 0.29);
      --dark-amber-a12: color(display-p3 0.9842 0.9092 0.7256);
    }
  }
}