:root {
  --dark-blue-1: #0d1520;
  --dark-blue-2: #111927;
  --dark-blue-3: #0d2847;
  --dark-blue-4: #003362;
  --dark-blue-5: #004074;
  --dark-blue-6: #104d87;
  --dark-blue-7: #205d9e;
  --dark-blue-8: #2870bd;
  --dark-blue-9: #0090ff;
  --dark-blue-10: #3b9eff;
  --dark-blue-11: #70b8ff;
  --dark-blue-12: #c2e6ff;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --dark-blue-1: color(display-p3 0.0575 0.0815 0.1219);
      --dark-blue-2: color(display-p3 0.0719 0.0984 0.147);
      --dark-blue-3: color(display-p3 0.0779 0.1539 0.2697);
      --dark-blue-4: color(display-p3 0.0326 0.1969 0.3698);
      --dark-blue-5: color(display-p3 0.0798 0.2448 0.4406);
      --dark-blue-6: color(display-p3 0.1402 0.2983 0.5113);
      --dark-blue-7: color(display-p3 0.1948 0.3608 0.6005);
      --dark-blue-8: color(display-p3 0.2388 0.4342 0.7202);
      --dark-blue-9: color(display-p3 0.2466 0.5561 0.9689);
      --dark-blue-10: color(display-p3 0.3445 0.6116 0.9726);
      --dark-blue-11: color(display-p3 0.49 0.72 1);
      --dark-blue-12: color(display-p3 0.7883 0.8977 0.9898);
    }
  }
}