:root {
  --dark-blue-a1: #004df211;
  --dark-blue-a2: #1166fb18;
  --dark-blue-a3: #0077ff3a;
  --dark-blue-a4: #0075ff57;
  --dark-blue-a5: #0081fd6b;
  --dark-blue-a6: #0f89fd7f;
  --dark-blue-a7: #2a91fe98;
  --dark-blue-a8: #3094feb9;
  --dark-blue-a9: #0090ff;
  --dark-blue-a10: #3b9eff;
  --dark-blue-a11: #70b8ff;
  --dark-blue-a12: #c2e6ff;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --dark-blue-a1: color(display-p3 0 0.3333 1 / 0.059);
      --dark-blue-a2: color(display-p3 0.1137 0.4353 0.9882 / 0.085);
      --dark-blue-a3: color(display-p3 0.1216 0.4627 1 / 0.219);
      --dark-blue-a4: color(display-p3 0 0.4667 1 / 0.324);
      --dark-blue-a5: color(display-p3 0.098 0.5098 1 / 0.4);
      --dark-blue-a6: color(display-p3 0.2235 0.5569 1 / 0.475);
      --dark-blue-a7: color(display-p3 0.2941 0.5843 1 / 0.572);
      --dark-blue-a8: color(display-p3 0.3137 0.5922 1 / 0.702);
      --dark-blue-a9: color(display-p3 0.251 0.5725 0.9961 / 0.967);
      --dark-blue-a10: color(display-p3 0.3569 0.6314 1 / 0.971);
      --dark-blue-a11: color(display-p3 0.49 0.72 1);
      --dark-blue-a12: color(display-p3 0.7883 0.8977 0.9898);
    }
  }
}