:root, .light, .light-theme {
  --crimson-1: #fffcfd;
  --crimson-2: #fef7f9;
  --crimson-3: #ffe9f0;
  --crimson-4: #fedce7;
  --crimson-5: #facedd;
  --crimson-6: #f3bed1;
  --crimson-7: #eaacc3;
  --crimson-8: #e093b2;
  --crimson-9: #e93d82;
  --crimson-10: #df3478;
  --crimson-11: #cb1d63;
  --crimson-12: #621639;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --crimson-1: color(display-p3 0.9979 0.9886 0.992);
      --crimson-2: color(display-p3 0.9911 0.9689 0.9761);
      --crimson-3: color(display-p3 0.9874 0.9169 0.9407);
      --crimson-4: color(display-p3 0.9751 0.8659 0.9042);
      --crimson-5: color(display-p3 0.9532 0.8135 0.8642);
      --crimson-6: color(display-p3 0.9209 0.7548 0.8175);
      --crimson-7: color(display-p3 0.8799 0.6827 0.7607);
      --crimson-8: color(display-p3 0.8345 0.5916 0.6939);
      --crimson-9: color(display-p3 0.8425 0.2978 0.507);
      --crimson-10: color(display-p3 0.8069 0.2656 0.4682);
      --crimson-11: color(display-p3 0.731 0.1954 0.3881);
      --crimson-12: color(display-p3 0.3523 0.111 0.2207);
    }
  }
}