:root {
  --dark-crimson-a1: #f4126709;
  --dark-crimson-a2: #f22f7a11;
  --dark-crimson-a3: #fe2a8b2a;
  --dark-crimson-a4: #fd158741;
  --dark-crimson-a5: #fd278f51;
  --dark-crimson-a6: #fe459763;
  --dark-crimson-a7: #fd559b7f;
  --dark-crimson-a8: #fe5b9bab;
  --dark-crimson-a9: #fe418de8;
  --dark-crimson-a10: #ff5693ed;
  --dark-crimson-a11: #ff92ad;
  --dark-crimson-a12: #ffd5eafd;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --dark-crimson-a1: color(display-p3 0.9843 0.0706 0.4627 / 0.03);
      --dark-crimson-a2: color(display-p3 0.9961 0.2824 0.5686 / 0.055);
      --dark-crimson-a3: color(display-p3 0.9961 0.2275 0.6 / 0.148);
      --dark-crimson-a4: color(display-p3 1 0.1569 0.5686 / 0.227);
      --dark-crimson-a5: color(display-p3 1 0.2314 0.6039 / 0.286);
      --dark-crimson-a6: color(display-p3 1 0.3333 0.6353 / 0.353);
      --dark-crimson-a7: color(display-p3 1 0.4157 0.6627 / 0.454);
      --dark-crimson-a8: color(display-p3 0.9961 0.4275 0.651 / 0.614);
      --dark-crimson-a9: color(display-p3 1 0.3451 0.5961 / 0.832);
      --dark-crimson-a10: color(display-p3 1 0.4196 0.6196 / 0.853);
      --dark-crimson-a11: color(display-p3 1 0.56 0.66);
      --dark-crimson-a12: color(display-p3 0.9656 0.8336 0.9057);
    }
  }
}