:root {
  --dark-grass-1: #0e1511;
  --dark-grass-2: #151a16;
  --dark-grass-3: #1b2a1e;
  --dark-grass-4: #1e3a25;
  --dark-grass-5: #25482e;
  --dark-grass-6: #2d5737;
  --dark-grass-7: #366740;
  --dark-grass-8: #3e7949;
  --dark-grass-9: #46a758;
  --dark-grass-10: #53b365;
  --dark-grass-11: #71d083;
  --dark-grass-12: #c2f0c2;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --dark-grass-1: color(display-p3 0.0617 0.0832 0.0667);
      --dark-grass-2: color(display-p3 0.0858 0.1015 0.0877);
      --dark-grass-3: color(display-p3 0.118 0.1631 0.1219);
      --dark-grass-4: color(display-p3 0.1432 0.2241 0.1529);
      --dark-grass-5: color(display-p3 0.1784 0.2788 0.1883);
      --dark-grass-6: color(display-p3 0.2171 0.3364 0.2258);
      --dark-grass-7: color(display-p3 0.2584 0.3996 0.2649);
      --dark-grass-8: color(display-p3 0.3019 0.4697 0.3049);
      --dark-grass-9: color(display-p3 0.3795 0.6466 0.3779);
      --dark-grass-10: color(display-p3 0.4256 0.694 0.4262);
      --dark-grass-11: color(display-p3 0.5349 0.8067 0.5421);
      --dark-grass-12: color(display-p3 0.7968 0.9359 0.7757);
    }
  }
}