:root, .light, .light-theme {
  --grass-a1: #00c00004;
  --grass-a2: #0099000a;
  --grass-a3: #00970016;
  --grass-a4: #009f0725;
  --grass-a5: #00930536;
  --grass-a6: #008f0a4d;
  --grass-a7: #018b0f6b;
  --grass-a8: #008d199a;
  --grass-a9: #008619b9;
  --grass-a10: #007b17c1;
  --grass-a11: #006514d5;
  --grass-a12: #002006df;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --grass-a1: color(display-p3 0.2667 0.7569 0.0235 / 0.016);
      --grass-a2: color(display-p3 0.0235 0.5647 0.0235 / 0.036);
      --grass-a3: color(display-p3 0.0588 0.5765 0.0078 / 0.083);
      --grass-a4: color(display-p3 0.0627 0.5765 0.0078 / 0.138);
      --grass-a5: color(display-p3 0.0471 0.5255 0.0078 / 0.197);
      --grass-a6: color(display-p3 0.0314 0.502 0.0039 / 0.275);
      --grass-a7: color(display-p3 0.0118 0.4824 0.0039 / 0.377);
      --grass-a8: color(display-p3 0 0.4667 0.0078 / 0.522);
      --grass-a9: color(display-p3 0.0078 0.4353 0 / 0.624);
      --grass-a10: color(display-p3 0.0078 0.3922 0 / 0.659);
      --grass-a11: color(display-p3 0.2631 0.4882 0.2607);
      --grass-a12: color(display-p3 0.1513 0.2325 0.1533);
    }
  }
}