:root, .light, .light-theme {
  --grass-1: #fbfefb;
  --grass-2: #f5fbf5;
  --grass-3: #e9f6e9;
  --grass-4: #daf1db;
  --grass-5: #c9e8ca;
  --grass-6: #b2ddb5;
  --grass-7: #94ce9a;
  --grass-8: #65ba74;
  --grass-9: #46a758;
  --grass-10: #3e9b4f;
  --grass-11: #2a7e3b;
  --grass-12: #203c25;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --grass-1: color(display-p3 0.9864 0.9957 0.9852);
      --grass-2: color(display-p3 0.9662 0.9827 0.964);
      --grass-3: color(display-p3 0.9227 0.9647 0.9174);
      --grass-4: color(display-p3 0.8723 0.9404 0.8647);
      --grass-5: color(display-p3 0.8112 0.9078 0.8022);
      --grass-6: color(display-p3 0.7334 0.8636 0.7242);
      --grass-7: color(display-p3 0.6281 0.8033 0.6217);
      --grass-8: color(display-p3 0.4773 0.7204 0.4822);
      --grass-9: color(display-p3 0.3795 0.6466 0.3779);
      --grass-10: color(display-p3 0.3441 0.5982 0.3419);
      --grass-11: color(display-p3 0.2631 0.4882 0.2607);
      --grass-12: color(display-p3 0.1513 0.2325 0.1533);
    }
  }
}