:root {
  --dark-gray-1: #111111;
  --dark-gray-2: #191919;
  --dark-gray-3: #222222;
  --dark-gray-4: #2a2a2a;
  --dark-gray-5: #313131;
  --dark-gray-6: #3a3a3a;
  --dark-gray-7: #484848;
  --dark-gray-8: #606060;
  --dark-gray-9: #6e6e6e;
  --dark-gray-10: #7b7b7b;
  --dark-gray-11: #b3b3b3;
  --dark-gray-12: #eeeeee;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --dark-gray-1: color(display-p3 0.0667 0.0667 0.0667);
      --dark-gray-2: color(display-p3 0.098 0.098 0.098);
      --dark-gray-3: color(display-p3 0.1348 0.1348 0.1348);
      --dark-gray-4: color(display-p3 0.1632 0.1632 0.1632);
      --dark-gray-5: color(display-p3 0.1916 0.1916 0.1916);
      --dark-gray-6: color(display-p3 0.2282 0.2282 0.2282);
      --dark-gray-7: color(display-p3 0.2834 0.2834 0.2834);
      --dark-gray-8: color(display-p3 0.375 0.375 0.375);
      --dark-gray-9: color(display-p3 0.4314 0.4314 0.4314);
      --dark-gray-10: color(display-p3 0.4832 0.4832 0.4832);
      --dark-gray-11: color(display-p3 0.7 0.7 0.7);
      --dark-gray-12: color(display-p3 0.9333 0.9333 0.9333);
    }
  }
}