:root, .light, .light-theme {
  --jade-1: #fbfefd;
  --jade-2: #f4fbf7;
  --jade-3: #e6f7ed;
  --jade-4: #d6f1e3;
  --jade-5: #c3e9d7;
  --jade-6: #acdec8;
  --jade-7: #8bceb6;
  --jade-8: #56ba9f;
  --jade-9: #29a383;
  --jade-10: #26997b;
  --jade-11: #208368;
  --jade-12: #1d3b31;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --jade-1: color(display-p3 0.9864 0.9957 0.9923);
      --jade-2: color(display-p3 0.9617 0.9831 0.9692);
      --jade-3: color(display-p3 0.9124 0.9646 0.9324);
      --jade-4: color(display-p3 0.8581 0.9408 0.8925);
      --jade-5: color(display-p3 0.7948 0.9088 0.8469);
      --jade-6: color(display-p3 0.7146 0.8644 0.7908);
      --jade-7: color(display-p3 0.603 0.802 0.7182);
      --jade-8: color(display-p3 0.44 0.7197 0.6286);
      --jade-9: color(display-p3 0.3195 0.6301 0.5205);
      --jade-10: color(display-p3 0.299 0.5919 0.4882);
      --jade-11: color(display-p3 0.15 0.5 0.37);
      --jade-12: color(display-p3 0.1422 0.2285 0.1942);
    }
  }
}