:root {
  --dark-jade-1: #0d1512;
  --dark-jade-2: #121c18;
  --dark-jade-3: #0f2e22;
  --dark-jade-4: #0b3b2c;
  --dark-jade-5: #114837;
  --dark-jade-6: #1b5745;
  --dark-jade-7: #246854;
  --dark-jade-8: #2a7e68;
  --dark-jade-9: #29a383;
  --dark-jade-10: #27b08b;
  --dark-jade-11: #1fd8a4;
  --dark-jade-12: #adf0d4;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --dark-jade-1: color(display-p3 0.0588 0.0828 0.0713);
      --dark-jade-2: color(display-p3 0.078 0.1096 0.0938);
      --dark-jade-3: color(display-p3 0.0914 0.1758 0.1376);
      --dark-jade-4: color(display-p3 0.1024 0.2278 0.1765);
      --dark-jade-5: color(display-p3 0.1335 0.2787 0.2214);
      --dark-jade-6: color(display-p3 0.1744 0.3344 0.2731);
      --dark-jade-7: color(display-p3 0.2193 0.4024 0.3354);
      --dark-jade-8: color(display-p3 0.2631 0.4882 0.4115);
      --dark-jade-9: color(display-p3 0.3195 0.6301 0.5205);
      --dark-jade-10: color(display-p3 0.3385 0.6804 0.5551);
      --dark-jade-11: color(display-p3 0.4004 0.8347 0.6561);
      --dark-jade-12: color(display-p3 0.7343 0.934 0.8377);
    }
  }
}