:root, .light, .light-theme {
  --lime-1: #fcfdfa;
  --lime-2: #f8faf3;
  --lime-3: #eef6d6;
  --lime-4: #e2f0bd;
  --lime-5: #d3e7a6;
  --lime-6: #c2da91;
  --lime-7: #abc978;
  --lime-8: #8db654;
  --lime-9: #bdee63;
  --lime-10: #b0e64c;
  --lime-11: #5c7c2f;
  --lime-12: #37401c;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --lime-1: color(display-p3 0.9889 0.992 0.9814);
      --lime-2: color(display-p3 0.975 0.9804 0.9539);
      --lime-3: color(display-p3 0.9392 0.9647 0.8514);
      --lime-4: color(display-p3 0.8957 0.94 0.7601);
      --lime-5: color(display-p3 0.843 0.9035 0.6782);
      --lime-6: color(display-p3 0.7776 0.852 0.5995);
      --lime-7: color(display-p3 0.6938 0.7844 0.5079);
      --lime-8: color(display-p3 0.5846 0.7074 0.3784);
      --lime-9: color(display-p3 0.7799 0.9278 0.4663);
      --lime-10: color(display-p3 0.7337 0.896 0.3966);
      --lime-11: color(display-p3 0.3862 0.4822 0.2273);
      --lime-12: color(display-p3 0.2224 0.2499 0.128);
    }
  }
}