:root {
  --dark-mauve-a1: #00000000;
  --dark-mauve-a2: #f5f4f609;
  --dark-mauve-a3: #ebeaf814;
  --dark-mauve-a4: #eee5f81d;
  --dark-mauve-a5: #efe6fe25;
  --dark-mauve-a6: #f1e6fd30;
  --dark-mauve-a7: #eee9ff40;
  --dark-mauve-a8: #eee7ff5d;
  --dark-mauve-a9: #eae6fd6e;
  --dark-mauve-a10: #ece9fd7c;
  --dark-mauve-a11: #f5f1ffb7;
  --dark-mauve-a12: #fdfdffef;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --dark-mauve-a1: color(display-p3 0 0 0 / 0);
      --dark-mauve-a2: color(display-p3 0.9961 0.9922 1 / 0.034);
      --dark-mauve-a3: color(display-p3 0.9373 0.9333 0.9922 / 0.077);
      --dark-mauve-a4: color(display-p3 0.9569 0.9176 0.9961 / 0.111);
      --dark-mauve-a5: color(display-p3 0.9686 0.9373 1 / 0.14);
      --dark-mauve-a6: color(display-p3 0.9529 0.9255 0.9961 / 0.183);
      --dark-mauve-a7: color(display-p3 0.9451 0.9294 1 / 0.246);
      --dark-mauve-a8: color(display-p3 0.9373 0.9176 1 / 0.361);
      --dark-mauve-a9: color(display-p3 0.9333 0.9176 1 / 0.424);
      --dark-mauve-a10: color(display-p3 0.9412 0.9255 1 / 0.479);
      --dark-mauve-a11: color(display-p3 0.9569 0.9451 1 / 0.717);
      --dark-mauve-a12: color(display-p3 0.9922 0.9922 1 / 0.937);
    }
  }
}