:root {
  --dark-mint-a1: #00dede05;
  --dark-mint-a2: #3cfbfb0c;
  --dark-mint-a3: #00fff61d;
  --dark-mint-a4: #00ffee2d;
  --dark-mint-a5: #00ffea3b;
  --dark-mint-a6: #1cffe44b;
  --dark-mint-a7: #39fde25f;
  --dark-mint-a8: #41ffdf76;
  --dark-mint-a9: #92ffe7e9;
  --dark-mint-a10: #aefeedf5;
  --dark-mint-a11: #67ffded2;
  --dark-mint-a12: #cbfee9f5;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --dark-mint-a1: color(display-p3 0 0.9922 0.9922 / 0.017);
      --dark-mint-a2: color(display-p3 0.4039 0.9882 0.902 / 0.047);
      --dark-mint-a3: color(display-p3 0.1765 0.9961 0.9961 / 0.11);
      --dark-mint-a4: color(display-p3 0.1608 0.9961 0.9294 / 0.173);
      --dark-mint-a5: color(display-p3 0.2745 1 0.9333 / 0.227);
      --dark-mint-a6: color(display-p3 0.3961 1 0.9176 / 0.286);
      --dark-mint-a7: color(display-p3 0.4706 1 0.9137 / 0.362);
      --dark-mint-a8: color(display-p3 0.4902 1 0.898 / 0.454);
      --dark-mint-a9: color(display-p3 0.6784 0.9961 0.9137 / 0.904);
      --dark-mint-a10: color(display-p3 0.7608 1 0.9412 / 0.95);
      --dark-mint-a11: color(display-p3 0.4824 0.8254 0.7334);
      --dark-mint-a12: color(display-p3 0.8072 0.9552 0.8866);
    }
  }
}