:root {
  --dark-orange-a1: #ec360007;
  --dark-orange-a2: #fb91270c;
  --dark-orange-a3: #fb6a0025;
  --dark-orange-a4: #ff550039;
  --dark-orange-a5: #ff61004a;
  --dark-orange-a6: #fd75095c;
  --dark-orange-a7: #ff832e75;
  --dark-orange-a8: #fe84389d;
  --dark-orange-a9: #fe6d15f7;
  --dark-orange-a10: #ff801f;
  --dark-orange-a11: #ffa057;
  --dark-orange-a12: #ffe0c2;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --dark-orange-a1: color(display-p3 0.9608 0.2471 0 / 0.022);
      --dark-orange-a2: color(display-p3 0.9804 0.6157 0.1608 / 0.043);
      --dark-orange-a3: color(display-p3 0.9961 0.4863 0 / 0.131);
      --dark-orange-a4: color(display-p3 0.9961 0.3647 0 / 0.211);
      --dark-orange-a5: color(display-p3 1 0.4392 0 / 0.265);
      --dark-orange-a6: color(display-p3 1 0.5176 0.1412 / 0.332);
      --dark-orange-a7: color(display-p3 1 0.5686 0.2588 / 0.429);
      --dark-orange-a8: color(display-p3 1 0.5843 0.302 / 0.572);
      --dark-orange-a9: color(display-p3 1 0.4941 0.2157 / 0.895);
      --dark-orange-a10: color(display-p3 1 0.5216 0.2353 / 0.979);
      --dark-orange-a11: color(display-p3 1 0.63 0.38);
      --dark-orange-a12: color(display-p3 0.9799 0.8828 0.775);
    }
  }
}