:root, .light, .light-theme {
  --orange-1: #fefcfb;
  --orange-2: #fff7ed;
  --orange-3: #ffefd6;
  --orange-4: #ffdfb5;
  --orange-5: #ffd19a;
  --orange-6: #ffc182;
  --orange-7: #f5ae73;
  --orange-8: #ec9455;
  --orange-9: #f76b15;
  --orange-10: #ef5f00;
  --orange-11: #cc4e00;
  --orange-12: #582d1d;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --orange-1: color(display-p3 0.9947 0.9885 0.9848);
      --orange-2: color(display-p3 0.9943 0.9684 0.934);
      --orange-3: color(display-p3 0.989 0.9382 0.8505);
      --orange-4: color(display-p3 1 0.8736 0.6866);
      --orange-5: color(display-p3 1 0.821 0.5833);
      --orange-6: color(display-p3 0.9754 0.7668 0.5454);
      --orange-7: color(display-p3 0.9187 0.6934 0.4862);
      --orange-8: color(display-p3 0.8774 0.5965 0.3794);
      --orange-9: color(display-p3 0.9 0.45 0.2);
      --orange-10: color(display-p3 0.8705 0.409 0.1642);
      --orange-11: color(display-p3 0.76 0.34 0);
      --orange-12: color(display-p3 0.3226 0.185 0.1271);
    }
  }
}