:root {
  --dark-plum-1: #181118;
  --dark-plum-2: #201320;
  --dark-plum-3: #351a35;
  --dark-plum-4: #451d47;
  --dark-plum-5: #512454;
  --dark-plum-6: #5e3061;
  --dark-plum-7: #734079;
  --dark-plum-8: #92549c;
  --dark-plum-9: #ab4aba;
  --dark-plum-10: #b658c4;
  --dark-plum-11: #e796f3;
  --dark-plum-12: #f4d4f4;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --dark-plum-1: color(display-p3 0.0898 0.0677 0.0924);
      --dark-plum-2: color(display-p3 0.1176 0.0771 0.1212);
      --dark-plum-3: color(display-p3 0.1918 0.1053 0.2021);
      --dark-plum-4: color(display-p3 0.2503 0.1215 0.271);
      --dark-plum-5: color(display-p3 0.2934 0.152 0.3185);
      --dark-plum-6: color(display-p3 0.3435 0.1984 0.372);
      --dark-plum-7: color(display-p3 0.4243 0.2623 0.4614);
      --dark-plum-8: color(display-p3 0.5399 0.3408 0.5954);
      --dark-plum-9: color(display-p3 0.6238 0.3128 0.7077);
      --dark-plum-10: color(display-p3 0.6657 0.3653 0.7476);
      --dark-plum-11: color(display-p3 0.8599 0.602 0.9329);
      --dark-plum-12: color(display-p3 0.9362 0.8359 0.9485);
    }
  }
}