:root, .light, .light-theme {
  --purple-1: #fefcfe;
  --purple-2: #fbf7fe;
  --purple-3: #f7edfe;
  --purple-4: #f2e2fc;
  --purple-5: #ead5f9;
  --purple-6: #e0c4f4;
  --purple-7: #d1afec;
  --purple-8: #be93e4;
  --purple-9: #8e4ec6;
  --purple-10: #8347b9;
  --purple-11: #8145b5;
  --purple-12: #402060;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --purple-1: color(display-p3 0.9947 0.9885 0.9955);
      --purple-2: color(display-p3 0.9828 0.971 0.9926);
      --purple-3: color(display-p3 0.9626 0.9313 0.9894);
      --purple-4: color(display-p3 0.9373 0.8878 0.981);
      --purple-5: color(display-p3 0.9043 0.8372 0.9658);
      --purple-6: color(display-p3 0.8596 0.7738 0.9422);
      --purple-7: color(display-p3 0.7986 0.6903 0.91);
      --purple-8: color(display-p3 0.7192 0.5827 0.8736);
      --purple-9: color(display-p3 0.5231 0.3183 0.7512);
      --purple-10: color(display-p3 0.4832 0.2887 0.6997);
      --purple-11: color(display-p3 0.4733 0.2813 0.687);
      --purple-12: color(display-p3 0.2341 0.1317 0.363);
    }
  }
}