:root {
  --dark-red-a1: #f4121209;
  --dark-red-a2: #f22f3e11;
  --dark-red-a3: #ff173f2d;
  --dark-red-a4: #fe0a3b44;
  --dark-red-a5: #ff204756;
  --dark-red-a6: #ff3e5668;
  --dark-red-a7: #ff536184;
  --dark-red-a8: #ff5d61b0;
  --dark-red-a9: #fe4e54e4;
  --dark-red-a10: #ff6465eb;
  --dark-red-a11: #ff9592;
  --dark-red-a12: #ffd1d9;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --dark-red-a1: color(display-p3 0.9843 0.0706 0.0706 / 0.03);
      --dark-red-a2: color(display-p3 0.9961 0.2824 0.2824 / 0.055);
      --dark-red-a3: color(display-p3 1 0.1686 0.2706 / 0.156);
      --dark-red-a4: color(display-p3 1 0.1176 0.2667 / 0.236);
      --dark-red-a5: color(display-p3 1 0.2118 0.3137 / 0.303);
      --dark-red-a6: color(display-p3 1 0.3216 0.3843 / 0.37);
      --dark-red-a7: color(display-p3 1 0.4 0.4275 / 0.471);
      --dark-red-a8: color(display-p3 1 0.4314 0.4314 / 0.635);
      --dark-red-a9: color(display-p3 1 0.3882 0.3843 / 0.82);
      --dark-red-a10: color(display-p3 1 0.4627 0.4471 / 0.853);
      --dark-red-a11: color(display-p3 1 0.57 0.55);
      --dark-red-a12: color(display-p3 0.9712 0.8264 0.8516);
    }
  }
}