:root {
  --dark-sage-1: #101211;
  --dark-sage-2: #171918;
  --dark-sage-3: #202221;
  --dark-sage-4: #272a29;
  --dark-sage-5: #2e3130;
  --dark-sage-6: #373b39;
  --dark-sage-7: #444947;
  --dark-sage-8: #5b625f;
  --dark-sage-9: #63706b;
  --dark-sage-10: #717d78;
  --dark-sage-11: #acb4b0;
  --dark-sage-12: #eceeed;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --dark-sage-1: color(display-p3 0.0642 0.0703 0.0669);
      --dark-sage-2: color(display-p3 0.0916 0.0978 0.0943);
      --dark-sage-3: color(display-p3 0.1276 0.1349 0.1309);
      --dark-sage-4: color(display-p3 0.1551 0.1637 0.1591);
      --dark-sage-5: color(display-p3 0.1829 0.193 0.1877);
      --dark-sage-6: color(display-p3 0.2177 0.2299 0.2237);
      --dark-sage-7: color(display-p3 0.2695 0.2846 0.2771);
      --dark-sage-8: color(display-p3 0.3618 0.3821 0.3727);
      --dark-sage-9: color(display-p3 0.3979 0.4376 0.4206);
      --dark-sage-10: color(display-p3 0.4522 0.4891 0.4727);
      --dark-sage-11: color(display-p3 0.6801 0.7045 0.6923);
      --dark-sage-12: color(display-p3 0.9269 0.9331 0.9296);
    }
  }
}