:root {
  --dark-sky-a1: #0044ff0f;
  --dark-sky-a2: #1d75fa17;
  --dark-sky-a3: #1789fc31;
  --dark-sky-a4: #1593ff47;
  --dark-sky-a5: #1d9cfd5c;
  --dark-sky-a6: #28a6fe71;
  --dark-sky-a7: #2baefe8a;
  --dark-sky-a8: #1db2fea9;
  --dark-sky-a9: #7ce3fffe;
  --dark-sky-a10: #a8eeff;
  --dark-sky-a11: #7cd3ffef;
  --dark-sky-a12: #c2f3ff;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --dark-sky-a1: color(display-p3 0 0.2824 0.9961 / 0.055);
      --dark-sky-a2: color(display-p3 0.2039 0.4824 0.9882 / 0.085);
      --dark-sky-a3: color(display-p3 0.1961 0.5333 1 / 0.185);
      --dark-sky-a4: color(display-p3 0.2157 0.5922 1 / 0.269);
      --dark-sky-a5: color(display-p3 0.2745 0.6275 1 / 0.345);
      --dark-sky-a6: color(display-p3 0.3137 0.6588 1 / 0.429);
      --dark-sky-a7: color(display-p3 0.3294 0.6941 1 / 0.526);
      --dark-sky-a8: color(display-p3 0.3255 0.7098 1 / 0.643);
      --dark-sky-a9: color(display-p3 0.5922 0.8941 1 / 0.984);
      --dark-sky-a10: color(display-p3 0.7216 0.9333 1 / 0.992);
      --dark-sky-a11: color(display-p3 0.5355 0.772 0.9239);
      --dark-sky-a12: color(display-p3 0.7994 0.9474 0.9932);
    }
  }
}