:root, .light, .light-theme {
  --sky-1: #f9feff;
  --sky-2: #f1fafd;
  --sky-3: #e1f6fd;
  --sky-4: #d1f0fa;
  --sky-5: #bee7f5;
  --sky-6: #a9daed;
  --sky-7: #8dcae3;
  --sky-8: #60b3d7;
  --sky-9: #7ce2fe;
  --sky-10: #74daf8;
  --sky-11: #00749e;
  --sky-12: #1d3e56;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --sky-1: color(display-p3 0.98 0.9954 0.9993);
      --sky-2: color(display-p3 0.9525 0.9797 0.9899);
      --sky-3: color(display-p3 0.899 0.9633 0.9885);
      --sky-4: color(display-p3 0.8415 0.9371 0.9767);
      --sky-5: color(display-p3 0.7773 0.9001 0.9542);
      --sky-6: color(display-p3 0.7014 0.8505 0.9213);
      --sky-7: color(display-p3 0.6036 0.785 0.8787);
      --sky-8: color(display-p3 0.457 0.6958 0.8295);
      --sky-9: color(display-p3 0.5845 0.8766 0.9826);
      --sky-10: color(display-p3 0.5546 0.8454 0.9586);
      --sky-11: color(display-p3 0.193 0.4475 0.605);
      --sky-12: color(display-p3 0.1452 0.2406 0.3293);
    }
  }
}