:root {
  --dark-slate-a1: #00000000;
  --dark-slate-a2: #d8f4f609;
  --dark-slate-a3: #ddeaf814;
  --dark-slate-a4: #d3edf81d;
  --dark-slate-a5: #d9edfe25;
  --dark-slate-a6: #d6ebfd30;
  --dark-slate-a7: #d9edff40;
  --dark-slate-a8: #d9edff5d;
  --dark-slate-a9: #dfebfd6d;
  --dark-slate-a10: #e5edfd7b;
  --dark-slate-a11: #f0f5feb5;
  --dark-slate-a12: #fcfdffef;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --dark-slate-a1: color(display-p3 0 0 0 / 0);
      --dark-slate-a2: color(display-p3 0.8745 0.9922 1 / 0.034);
      --dark-slate-a3: color(display-p3 0.8824 0.9333 0.9922 / 0.077);
      --dark-slate-a4: color(display-p3 0.8824 0.9529 0.9961 / 0.111);
      --dark-slate-a5: color(display-p3 0.9098 0.9647 1 / 0.14);
      --dark-slate-a6: color(display-p3 0.8824 0.949 0.9961 / 0.183);
      --dark-slate-a7: color(display-p3 0.8824 0.9294 1 / 0.246);
      --dark-slate-a8: color(display-p3 0.8706 0.9373 1 / 0.361);
      --dark-slate-a9: color(display-p3 0.898 0.9373 1 / 0.42);
      --dark-slate-a10: color(display-p3 0.9098 0.9451 1 / 0.475);
      --dark-slate-a11: color(display-p3 0.9529 0.9686 0.9961 / 0.704);
      --dark-slate-a12: color(display-p3 0.9882 0.9922 1 / 0.937);
    }
  }
}