:root {
  --dark-slate-1: #111113;
  --dark-slate-2: #18191b;
  --dark-slate-3: #212225;
  --dark-slate-4: #272a2d;
  --dark-slate-5: #2e3135;
  --dark-slate-6: #363a3f;
  --dark-slate-7: #43484e;
  --dark-slate-8: #5a6169;
  --dark-slate-9: #696e77;
  --dark-slate-10: #777b84;
  --dark-slate-11: #afb3ba;
  --dark-slate-12: #edeef0;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --dark-slate-1: color(display-p3 0.0667 0.0667 0.0738);
      --dark-slate-2: color(display-p3 0.0948 0.0979 0.1051);
      --dark-slate-3: color(display-p3 0.1299 0.1348 0.1451);
      --dark-slate-4: color(display-p3 0.1564 0.1629 0.1755);
      --dark-slate-5: color(display-p3 0.1826 0.1909 0.2058);
      --dark-slate-6: color(display-p3 0.2155 0.2263 0.2439);
      --dark-slate-7: color(display-p3 0.2652 0.2802 0.3018);
      --dark-slate-8: color(display-p3 0.3571 0.381 0.4095);
      --dark-slate-9: color(display-p3 0.4153 0.4307 0.4633);
      --dark-slate-10: color(display-p3 0.4683 0.483 0.5141);
      --dark-slate-11: color(display-p3 0.6903 0.7021 0.7259);
      --dark-slate-12: color(display-p3 0.9301 0.9332 0.9404);
    }
  }
}