:root, .light, .light-theme {
  --teal-1: #fafefd;
  --teal-2: #f3fbf9;
  --teal-3: #e0f8f3;
  --teal-4: #ccf3ea;
  --teal-5: #b8eae0;
  --teal-6: #a1ded2;
  --teal-7: #83cdc1;
  --teal-8: #53b9ab;
  --teal-9: #12a594;
  --teal-10: #0d9b8a;
  --teal-11: #008573;
  --teal-12: #0d3d38;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --teal-1: color(display-p3 0.9832 0.9956 0.9922);
      --teal-2: color(display-p3 0.958 0.9831 0.9763);
      --teal-3: color(display-p3 0.8953 0.9714 0.9517);
      --teal-4: color(display-p3 0.8307 0.9488 0.9197);
      --teal-5: color(display-p3 0.7614 0.9136 0.8784);
      --teal-6: color(display-p3 0.6818 0.8639 0.8249);
      --teal-7: color(display-p3 0.5806 0.798 0.7564);
      --teal-8: color(display-p3 0.4328 0.7156 0.6713);
      --teal-9: color(display-p3 0.297 0.6374 0.5811);
      --teal-10: color(display-p3 0.2752 0.5993 0.5417);
      --teal-11: color(display-p3 0.08 0.5 0.43);
      --teal-12: color(display-p3 0.1097 0.2355 0.2193);
    }
  }
}