:root {
  --dark-tomato-a1: #f1121208;
  --dark-tomato-a2: #ff55330f;
  --dark-tomato-a3: #ff35232b;
  --dark-tomato-a4: #fd201142;
  --dark-tomato-a5: #fe332153;
  --dark-tomato-a6: #ff4f3864;
  --dark-tomato-a7: #fd644a7d;
  --dark-tomato-a8: #fe6d4ea7;
  --dark-tomato-a9: #fe5431e4;
  --dark-tomato-a10: #ff6847eb;
  --dark-tomato-a11: #ff977d;
  --dark-tomato-a12: #ffd6cefb;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --dark-tomato-a1: color(display-p3 0.9725 0.0706 0.0706 / 0.026);
      --dark-tomato-a2: color(display-p3 0.9922 0.3765 0.2235 / 0.051);
      --dark-tomato-a3: color(display-p3 0.9961 0.2824 0.1765 / 0.148);
      --dark-tomato-a4: color(display-p3 1 0.2039 0.1176 / 0.232);
      --dark-tomato-a5: color(display-p3 1 0.2863 0.1922 / 0.29);
      --dark-tomato-a6: color(display-p3 1 0.3882 0.2784 / 0.358);
      --dark-tomato-a7: color(display-p3 1 0.4588 0.349 / 0.45);
      --dark-tomato-a8: color(display-p3 1 0.4902 0.3686 / 0.601);
      --dark-tomato-a9: color(display-p3 1 0.4078 0.2667 / 0.82);
      --dark-tomato-a10: color(display-p3 1 0.4784 0.3412 / 0.853);
      --dark-tomato-a11: color(display-p3 1 0.585 0.455);
      --dark-tomato-a12: color(display-p3 0.9589 0.8333 0.8021);
    }
  }
}