:root {
  --dark-tomato-1: #181111;
  --dark-tomato-2: #1f1513;
  --dark-tomato-3: #391714;
  --dark-tomato-4: #4e1511;
  --dark-tomato-5: #5e1c16;
  --dark-tomato-6: #6e2920;
  --dark-tomato-7: #853a2d;
  --dark-tomato-8: #ac4d39;
  --dark-tomato-9: #e54d2e;
  --dark-tomato-10: #ec6142;
  --dark-tomato-11: #ff977d;
  --dark-tomato-12: #fbd3cb;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --dark-tomato-1: color(display-p3 0.0898 0.0677 0.0672);
      --dark-tomato-2: color(display-p3 0.1155 0.0839 0.0761);
      --dark-tomato-3: color(display-p3 0.2051 0.0972 0.0833);
      --dark-tomato-4: color(display-p3 0.2819 0.0992 0.0771);
      --dark-tomato-5: color(display-p3 0.3386 0.1292 0.1015);
      --dark-tomato-6: color(display-p3 0.3982 0.1793 0.1414);
      --dark-tomato-7: color(display-p3 0.4868 0.2449 0.1937);
      --dark-tomato-8: color(display-p3 0.6285 0.3218 0.248);
      --dark-tomato-9: color(display-p3 0.8309 0.3454 0.2311);
      --dark-tomato-10: color(display-p3 0.862 0.415 0.2979);
      --dark-tomato-11: color(display-p3 1 0.585 0.455);
      --dark-tomato-12: color(display-p3 0.9589 0.8333 0.8021);
    }
  }
}