@import './normalize.css';
@import './colors.css';

button {
  border: none;
}


/* semantic color variables for this project */
:root {
  --jg-c-app-background: var(--grass-1);
  --jg-c-subtle-background: var(--grass-2);
  --jg-c-element-background: var(--grass-3);
  --jg-c-hovered-element-background: var(--grass-4);
  --jg-c-active-element-background: var(--grass-5);
  --jg-c-subtle-border: var(--grass-6);
  --jg-c-border: var(--grass-7);
  --jg-c-hovered-border: var(--grass-8);
  --jg-c-solid-background: var(--grass-9);
  --jg-c-hovered-solid-background: var(--grass-10);
  --jg-c-low-contrast-text: var(--olive-11);
  --jg-c-text: var(--olive-12);

  /* grass-9 */
  --jg-c-solid-background-filter: invert(64%) sepia(8%) saturate(3281%) hue-rotate(79deg) brightness(87%) contrast(77%);

  --jg-c-low-contrast-text-highlight: var(--grass-12);
  --jg-c-text-highlight: var(--grass-11);


  --jg-c-low-contrast-text-onDark: var(--dark-olive-11);
  --jg-c-text-onDark: var(--dark-olive-12);
  --jg-c-low-contrast-text-highlight-onDark: var(--dark-grass-11);
  --jg-c-text-highlight-onDark: var(--dark-grass-12);

  --jg-c-low-contrast-text-invert: var(--dark-olive-11);
  --jg-c-text-invert: var(--dark-olive-12);
  --jg-c-low-contrast-text-highlight-invert: var(--dark-grass-11);
  --jg-c-text-highlight-invert: var(--dark-grass-12);

  --jg-c-critical-app-background: var(--red-1);
  --jg-c-critical-subtle-background: var(--red-2);
  --jg-c-critical-element-background: var(--red-3);
  --jg-c-critical-hovered-element-background: var(--red-4);
  --jg-c-critical-active-element-background: var(--red-5);
  --jg-c-critical-subtle-border: var(--red-6);
  --jg-c-critical-border: var(--red-7);
  --jg-c-critical-hovered-border: var(--red-8);
  --jg-c-critical-solid-background: var(--red-9);
  --jg-c-critical-hovered-solid-background: var(--red-10);
  --jg-c-critical-low-contrast-text: var(--mauve-11);
  --jg-c-critical-text: var(--mauve-12);

  --jg-c-critical-low-contrast-text-highlight: var(--red-12);
  --jg-c-critical-text-highlight: var(--red-11);
}

@media (prefers-color-scheme: dark) {
  :root {
    --jg-c-app-background: var(--dark-grass-1);
    --jg-c-subtle-background: var(--dark-grass-2);
    --jg-c-element-background: var(--dark-grass-3);
    --jg-c-hovered-element-background: var(--dark-grass-4);
    --jg-c-active-element-background: var(--dark-grass-5);
    --jg-c-subtle-border: var(--dark-grass-6);
    --jg-c-border: var(--dark-grass-7);
    --jg-c-hovered-border: var(--dark-grass-8);
    --jg-c-solid-background: var(--dark-grass-9);
    --jg-c-hovered-solid-background: var(--dark-grass-10);
    --jg-c-low-contrast-text: var(--dark-olive-11);
    --jg-c-text: var(--dark-olive-12);
  
    /* grass-9 */
    --jg-c-solid-background-filter: invert(60%) sepia(8%) saturate(2568%) hue-rotate(79deg) brightness(90%) contrast(99%);

    --jg-c-low-contrast-text-highlight: var(--dark-grass-12);
    --jg-c-text-highlight: var(--dark-grass-11);

    --jg-c-low-contrast-text-invert: var(--olive-11);
    --jg-c-text-invert: var(--olive-12);
    --jg-c-low-contrast-text-highlight-invert: var(--grass-11);
    --jg-c-text-highlight-invert: var(--grass-12);

    --jg-c-critical-app-background: var(--dark-red-1);
    --jg-c-critical-subtle-background: var(--dark-red-2);
    --jg-c-critical-element-background: var(--dark-red-3);
    --jg-c-critical-hovered-element-background: var(--dark-red-4);
    --jg-c-critical-active-element-background: var(--dark-red-5);
    --jg-c-critical-subtle-border: var(--dark-red-6);
    --jg-c-critical-border: var(--dark-red-7);
    --jg-c-critical-hovered-border: var(--dark-red-8);
    --jg-c-critical-solid-background: var(--dark-red-9);
    --jg-c-critical-hovered-solid-background: var(--dark-red-10);
    --jg-c-critical-low-contrast-text: var(--dark-mauve-11);
    --jg-c-critical-text: var(--dark-mauve-12);

    --jg-c-critical-low-contrast-text-highlight: var(--dark-red-12);
    --jg-c-critical-text-highlight: var(--dark-red-11);
  }
}/*

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100dvh;
  color: var(--jg-c-text);
  background-color: var(--jg-c-app-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/