@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a {
  text-decoration: none;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--jg-c-app-background);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

.ipa {
  font-family: 'Inter';
}

.roman-small {
  font-family: 'Junicode';
  font-size: medium;
}

.roman-medium {
  font-family: 'Junicode';
  font-size: larger;
}

button {
  background-color: var(--jg-c-solid-background);
  border-color: var(--jg-c-border);
  border-radius: 0.4rem;
  font-size: 1.3rem;
}

input[type=file]::file-selector-button { 
  background-color: var(--jg-c-solid-background);
  border-color: var(--jg-c-border);
  border-radius: 0.4rem;
  font-size: 1.3rem;
}